<html id="reset">
	<head>
		<title>Kijiji Maps</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script>
		var beachesJSON = "<%- beaches %>";
		var beaches = JSON.parse(atob(beachesJSON));
		console.log(beaches);

		function getHtml(html, query) {
			var elem = document.createElement("div");
			elem.innerHTML = html;
			elem = elem.querySelectorAll(query)[0];
			return elem && elem.innerHTML || "";
		}

		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: new google.maps.LatLng(<%=lat%>, <%=lon%>),
				zoom: <%=zoom%>,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			var selected = -1;
			var markers = [];
			var favs = JSON.parse(localStorage['favs'] || '{}');
			beaches.forEach((beach, i) => {
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(beach.lat, beach.lon),
					map: map,
					title: beach.title
				});
				markers.push(marker);
				starFav(i);
				
				google.maps.event.addListener(marker, 'click', () => {
					var html = [
						'<h3>', beach.title, '</h3>',
						'<a href="', beach.url, '" target="_blank">View on Kijiji</a>', '<br>',
						beach.price, '<br>',
						beach.address, '<br>',
						getHtml(beach.description, `#AttributeList`),
						getHtml(beach.description, `[class^="descriptionContainer"]`)
					].join(' ');

					info.innerHTML = html;
					selected = i;
					starFav(selected);
				});
				fav.onclick = () => {
					console.log(selected);
					var url = beaches[selected].url;
					favs[url] = !favs[url];
					starFav(selected);
					localStorage['favs'] = JSON.stringify(favs);
				};
			});
			function starFav(i) {
				var url = beaches[i].url;
				fav.innerText = favs[url] ? '★': '☆';
				markers[i].setIcon(favs[url] ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : '')
			}
		}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCNZ_7_6fNE7ppMd2PBY9d3ziZHwmQYh9M"></script>
		<style>
		body { margin: 0; padding: 0; }
		#map {
			position: absolute;
			width: 80%;
			height: 100%;
		}
		#sidebar {
			position: absolute;
			width: 19%;
			height: 100%;
			right: 0.5%;
			overflow-x: scroll;
		}
		#fav {
			font-size: 200%;
			float: right;
		}

		</style>
		<link rel="stylesheet" href="/css/kijiji.css">
	</head>
	<body>
		<div id="map"></div>
		<div id="sidebar" class="fes-pagelet">
			<div id="fav">☆</div>
			<div id="info"></div>
		</div>
	</body>
</html>