<html>
	<head>
		<title>Kijiji Maps</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script>
		var beaches =  <%- beaches %>
		console.log(beaches);

		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: new google.maps.LatLng(<%=lat%>, <%=lon%>),
				zoom: <%=zoom%>,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			var selected = -1;
			var markers = [];
			var favs = JSON.parse(localStorage['favs'] || '{}');
			for (let i = 0; i < beaches.length; i++) {
				let beach = beaches[i];
				let marker = new google.maps.Marker({
					position: new google.maps.LatLng(beach.lat, beach.lon),
					map: map,
					title: beach[0]
				});
				markers.push(marker);
				starFav(i);
				google.maps.event.addListener(marker, 'click', () => {
					//info.innerHTML = '<iframe src="' + beach.url.replace('www.kijiji.ca', 'm.kijiji.ca') + '"></iframe>';
					info.innerHTML = [
						'<h3>', beach.title, '</h3>',
						'<a href="', beach.url, '" target="_blank">View on Kijiji</a>', '<br>',
						beach.price, '<br>',
						beach.address, '<br>',
						beach.description
					].join(' ');
					selected = i;
					starFav(selected);
				});
				function starFav(i) {
					var url = beaches[i].url;
					fav.innerText = favs[url] ? '★': '☆';
					markers[i].setIcon(favs[url] ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : '')
				}
				fav.onclick = () => {
					var url = beaches[selected].url;
					favs[url] = !favs[url]
					starFav(selected);
					localStorage['favs'] = JSON.stringify(favs);
				};
			}

		}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCNZ_7_6fNE7ppMd2PBY9d3ziZHwmQYh9M"></script>
		<style>
		body { margin: 0; padding: 0; }
		#map {
			position: absolute;
			width: 80%;
			height: 100%;
		}
		#sidebar {
			position: absolute;
			width: 19%;
			height: 100%;
			right: 0.5%;
			overflow-x: scroll;
		}
		#fav {
			font-size: 200%;
			float: right;
		}
		</style>
	</head>
	<body>
		<div id="map"></div>
		<div id="sidebar">
			<div id="fav">☆</div>
			<div id="info"></div>
		</div>
	</body>
</html>